<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <center>
        <h1>Trgistration Form</h1>
        <form action="" method="post">
            <table>
                <tr>
                    <td>First Name:</td>
                    <td><input type="text" name="first name" placeholder="enter your name...."></td>
                </tr>

                <tr>
                    <td>Last Name:</td>
                    <td><input type="text" name="Last name" placeholder="enter your Last name...."></td>
                </tr>

                <tr>
                    <td>Email:</td>
                    <td><input type="email" name="email" placeholder="enter your email...."></td>
                </tr>

                <tr>
                    <td>Contact:</td>
                    <td><input type="number" name="number" placeholder="enter your number...."></td>
                </tr>

                <tr>
                    <td><input type="submit" name="submit"></td>
                </tr>


            </table>
        </form>
    </center>
    
</body>
</html>